:global {
  .actionSheet-fade {
    transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .actionSheet-fade-exited,
  .actionSheet-fade-exiting.actionSheet-fade-exit-active {
    transform: translate3D(0, 100%, 0);
    opacity: 0.01;
  }

  .actionSheet-fade-entering {
    transform: translate3D(0, 100%, 0);
  }

  .actionSheet-fade-entering.actionSheet-fade-enter-active,
  .actionSheet-fade-exiting,
  .actionSheet-fade-entered {
    transform: translate3D(0, 0, 0);
    z-index: 1200;
  }
}
